<div class="chat">
    <h1>Chat en tiempo real</h1>
    <div id="chat-messages">
        <!-- Aquí se mostrarán los mensajes -->
        {{#each messages}}
            <p><strong>{{this.user}} dice:</strong> <strong> {{this.message}} </strong></p>
        {{/each}}
    </div>
    <div>
        <input type="text" id="message-input" placeholder="Escribe un mensaje">
        <button onclick="sendMessage()">Enviar</button>
    </div>
</div>  
<script src="
https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js
"></script>
<script src="/js/index.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>