<div class="signup-form container p-4">
    <h1>Login</h1>
    <form id="loginForm" class="form">
        <div class="row">
            <div class="form-section">
                <div class="form-item">
                    <label>Email</label>
                    <input name="email">
                </div>
            </div>
            <div class="form-section">
                <div class="form-item">
                    <label>Contraseña</label>
                    <input name="password" type="password">
                </div>
            </div>
        </div>
        <div class="buttons my-3">
            <button type="submit" class="btn form-button">Iniciar Sesión</button>
        </div>
    </form>
    <div class="github-auth">
        <a href="/api/sessions/github"> <button type="button" class="btn">Ingresar con Github</button></a>
    </div>
    <p>No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<!-- Loading -->

<script src="/js/index.js"></script>
<script src="/js/login.js"></script>