<h1>Reset Password</h1>

<form id="resetPasswordForm" class="form">
    <input type="hidden" name="token" id="tokenInput"> <!-- Nuevo campo oculto -->
    <label for="newPassword">Ingresa la contraseña nueva</label>
    <input type="text" name="newPassword">
    <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
</form>

<script src="/js/index.js"></script>
<script src="/js/reset-password.js"></script>