<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="header p-4 d-flex flex-row align-items-center justify-content-between">
            <div class="title">
                <h1>ecommerce</h1>
            </div>
            <div class="buttons">
                {{#if user}}
                    {{#if isAdmin}}
                        <!-- Si el rol del usuario es ADMIN -->
                        <a href="dashboard"><button class="btn">Dashboard</button></a>
                        <a href="products"><button class="btn">Home</button></a>
                        <a href="realtimeproducts"><button class="btn">Productos</button></a>
                        <a href="chat"><button class="btn">Chat</button></a>
                        <a href="api/auth/logout"><button class="btn btn-danger">Salir</button></a>
                    {{else}}
                        <!-- Si el rol del usuario no es ADMIN -->
                        <a href="/products"><button class="btn">Home</button></a>
                        <a href="/realtimeproducts"><button class="btn">Productos</button></a>
                        <a href="/chat"><button class="btn">Chat</button></a>
                        <a href="/api/auth/logout"><button class="btn btn-danger">Salir</button></a>
                    {{/if}}
                {{else}}
                    <a href="/login"><button class="btn btn-primary">Iniciar sesión</button></a>
                    <a href="/register"><button class="btn btn-light">Registrarse</button></a>
                {{/if}}
            </div>
        </header>
        <div class="content container my-4">
            {{{ body }}}
        </div>
    </body>
</html>